:root {
	--yellow: #ffeb95;
	--cyan: #7fdbca;
	--blue: #82aaff;
	--dark: #092944;
	--darker: #011627;
}

* {
	box-sizing: border-box;
	accent-color: var(--cyan);
}

body {
	background-color: var(--darker);
	color: var(--blue);
	font-family: 'Ubuntu Mono', monospace;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

h1 {
	font-size: 1.5em;
	color: var(--yellow);
}

input {
	color: var(--dark);
	border: 0;
	border-radius: 0;
}

a {
	color: var(--cyan);
	text-decoration: none;
}

code {
	font-family: 'Ubuntu Mono', monospace;
	font-weight: bold;
	display: inline-block;
	margin-inline: 0.25ch;
}

.fl-r {
	float: right;
	margin-left: 1em;
}
