:root {
	--yellow: #ffeb95;
	--cyan: #7fdbca;
	--blue: #82aaff;
	--dark: #091944;
	--darker: #010927;
}

* {
	box-sizing: border-box;
	accent-color: var(--cyan);
}

body {
	background-color: var(--darker);
	color: var(--blue);
	font-family: 'Ubuntu Mono', monospace;
	color-scheme: dark;
}

#app {
	display: grid;
	background-color: var(--darker);
}

main {
	display: grid;
	min-height: 100vh;
	place-content: center;
	place-self: center;
	padding: 4em 1em 1em;
}

h1 {
	font-size: 1.5em;
	color: var(--yellow);
}

input {
	border: 0;
	border-radius: 0;
	background-color: var(--darker);
}

a {
	color: var(--cyan);
	text-decoration: none;
}

code {
	font-family: 'Ubuntu Mono', monospace;
	font-weight: bold;
	display: inline-block;
	margin-inline: 0.25ch;
}
