@font-face {
	font-family: 'Ubuntu Mono';
	src: url('/fonts/UbuntuMono-Regular.ttf') format('truetype');
	font-display: fallback;
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('/fonts/UbuntuMono-Bold.ttf') format('truetype');
	font-weight: bold;
	font-display: fallback;
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('/fonts/UbuntuMono-Italic.ttf') format('truetype');
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('/fonts/UbuntuMono-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: 'Noto Color Emoji';
	src: url('/fonts/NotoColorEmoji-Regular.ttf') format('truetype');
	font-display: fallback;
}

:root {
	--yellow: #ffee99;
	--cyan: #77ddcc;
	--blue: #99bbff;
	--dark: #000444;
	--darker: #000011;
}

* {
	box-sizing: border-box;
	accent-color: var(--cyan);
}

body {
	background-color: var(--darker);
	color: var(--blue);
	font-family: 'Ubuntu Mono', monospace, 'Noto Color Emoji';
	color-scheme: dark;
}

#app {
	display: grid;
	background-color: var(--darker);
}

main {
	display: grid;
	min-height: 100vh;
	place-content: center;
	place-self: center;
	padding: 4em 1em;
}

h1 {
	font-size: 1.5em;
	color: var(--yellow);
	text-wrap: balance;
}

input {
	border: 0;
	border-radius: 0;
	background-color: var(--darker);
}

a {
	color: var(--cyan);
	text-decoration: none;
}

code {
	font-family: 'Ubuntu Mono', monospace, 'Noto Color Emoji';
	display: inline-block;
	margin-inline: 0.25ch;
}
